body {
    font-family: Arial, sans-serif;
    background-color: #ffb6c1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #333;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

p {
    color: #fff;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 5px solid #ff69b4; /* Moldura rosa mais escura */
}
